<!DOCTYPE html>
{% load static %}
{% load has_group %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'base/icons/favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

    <title>EMS</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">EMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
          {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_task' %}">Add Task</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'leave_form' %}">Leave Form</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'my_leave' %}">My leave</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'my_profile' %}">My Profile</a>
            </li>
            {% if request.user|has_group:"HR" %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_employee' %}">Add Employee</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'applications' %}">Applications</a>
            </li>
            <form action = {% url 'search_profile' %} method='POST' class="form-inline my-2 my-lg-0">
              {% csrf_token %}
                <input class="form-control mr-sm-2" type="search" name = 'Search' placeholder="Search" aria-label="Search" required>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user_logout' %}">LogOut</a>
            </li>
 {% endif %}
          </ul>
        </div>
      </nav>
      <!-- main content -->
        <div class="container">


                {% block content %}
                {% endblock %}


        </div>
      <!-- main content -->

      <!-- footer -->
      <div class="card text-center">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>

      </div>
      <!-- footer -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>