{% extends 'base.html' %}

{% block content %}

<h2>hasib</h2>

    
    <div class="row mt-5">
        {% for i in all_profile %}
        <div class="col-md-4 mb-4">  
            <div class="card" style="width: 18rem;">
            <img class="card-img-top thumbnail border-bottom-1" src="{{ i.imgurl }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><strong>{{ i.user.username }}</strong></h5>
                  <h5 class="card-title"><strong>Department Name: </strong>{{ i.department }}</h5>
    
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>              
        </div>
        {% endfor %}
    </div>
         


{% endblock %}